cmd/skogul/skogul
/skogul
/skogul.1
/docs/skogul.rst

# for release-mechanics
/*.tar.bz2
/dist
/rpm-prep
/build/redhat-skogul.spec
*.rpm

# Don't check vendored files in
vendor

# Editor tmp files
.vscode
.*swp

# MacOS temp file
.DS_Store

# Ignore testfiles
*.test

# Ignore typical profiling and coverage artefacts
*.prof
coverage.out

# Ignore generated and potentially large enrichment example
/docs/examples/payloads/enrich_large.json
