cmd/skogul/skogul
/skogul

# for release-mechanics
/*.tar.bz2
/dist
/rpm-prep
*.rpm

# Don't check vendored files in
vendor

# Editor tmp files
.vscode
.*swp

# MacOS temp file
.DS_Store

# Ignore testfiles
*.test

# Ignore typical profiling and coverage artefacts
*.prof
coverage.out
